In [1]:
from services.main_service import get_coin_data
from services.arima_forecasting import find_best_params, train_model, get_evaluations
from services.prophet_service import train_model
import pandas as pd
from prophet import Prophet

SELECTED_COINS = ["XLM-USD", "BTC-USD", "ICP-USD", "USDT-USD"]

Importing plotly failed. Interactive plots will not work.

In [2]:
coin_data_df = get_coin_data(SELECTED_COINS)

Using the cached dataset..

In [16]:
selected_coin_for_forecasting = "BTC-USD"

new_coin_df = coin_data_df[selected_coin_for_forecasting]
new_coin_df = new_coin_df.reset_index()
new_coin_df.columns = ["ds", "y"]


train_size = int(0.8 * len(coin_data_df))
train_df = new_coin_df.iloc[:train_size]
test_df = new_coin_df.iloc[train_size:]

In [17]:
model = Prophet()
model.fit(train_df)

15:04:01 - cmdstanpy - INFO - Chain [1] start processing
15:04:01 - cmdstanpy - INFO - Chain [1] done processing

In [20]:
result = model.predict(test_df.drop(columns="y"))
result

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-12-19,43982.071205,42605.726707,45784.175573,43982.071205,43982.071205,152.787760,152.787760,152.787760,152.787760,152.787760,152.787760,0.0,0.0,0.0,44134.858965
1,2023-12-20,44202.850232,42743.909804,46113.146255,44202.850232,44202.850232,147.713983,147.713983,147.713983,147.713983,147.713983,147.713983,0.0,0.0,0.0,44350.564215
2,2023-12-21,44423.629259,42674.764408,45990.902576,44416.369593,44429.438753,-48.811515,-48.811515,-48.811515,-48.811515,-48.811515,-48.811515,0.0,0.0,0.0,44374.817744
3,2023-12-22,44644.408286,42946.699497,46205.308645,44626.610292,44662.991895,-29.634342,-29.634342,-29.634342,-29.634342,-29.634342,-29.634342,0.0,0.0,0.0,44614.773944
4,2023-12-23,44865.187313,43207.603089,46346.664891,44822.983569,44906.059460,-90.676048,-90.676048,-90.676048,-90.676048,-90.676048,-90.676048,0.0,0.0,0.0,44774.511266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2024-02-26,59215.824071,53894.847852,64040.037162,54128.331724,63739.480572,-92.372122,-92.372122,-92.372122,-92.372122,-92.372122,-92.372122,0.0,0.0,0.0,59123.451948
70,2024-02-27,59436.603098,54443.447400,64344.212245,54263.198994,64148.151986,152.787760,152.787760,152.787760,152.787760,152.787760,152.787760,0.0,0.0,0.0,59589.390858
71,2024-02-28,59657.382125,54155.654515,64940.777915,54405.124427,64474.282362,147.713983,147.713983,147.713983,147.713983,147.713983,147.713983,0.0,0.0,0.0,59805.096108
72,2024-02-29,59878.161152,54304.504521,64887.948834,54553.150817,64736.096766,-48.811515,-48.811515,-48.811515,-48.811515,-48.811515,-48.811515,0.0,0.0,0.0,59829.349637
73,2024-03-01,60098.940179,54641.947961,65142.810268,54708.116664,65049.718884,-29.634342,-29.634342,-29.634342,-29.634342,-29.634342,-29.634342,0.0,0.0,0.0,60069.305837

In [22]:
result["yhat"]

0     44134.858965
1     44350.564215
2     44374.817744
3     44614.773944
4     44774.511266
          ...
69    59123.451948
70    59589.390858
71    59805.096108
72    59829.349637
73    60069.305837
Name: yhat, Length: 74, dtype: float64

In [31]:
prediction_df = pd.Series(result["yhat"].values, index=result["ds"].values)
prediction_df

2023-12-19    44134.858965
2023-12-20    44350.564215
2023-12-21    44374.817744
2023-12-22    44614.773944
2023-12-23    44774.511266
                  ...
2024-02-26    59123.451948
2024-02-27    59589.390858
2024-02-28    59805.096108
2024-02-29    59829.349637
2024-03-01    60069.305837
Length: 74, dtype: float64

In [8]:
result_df = pd.concat([prediction_data, test_data], axis=1)

4053.9498055632635